# Ignore bash configuration files
.bash_logout
.bash_profile
.bashrc

# Ignore git credentials and config
.git-credentials
.gitconfig

# Ignore less history file
.lesshst

# Ignore SSH directory
.ssh/

# Ignore vim-related files
.viminfo
.vimrc
